
.yellow{
    margin: 15px auto;
    height: 150px;
    width: 60%;
    border-color: black;
    background-color: yellow;

}
.blue{
    margin: 15px auto;
    height: 150px;
    width: 60%;
    border-color: black;
    background-color: blue;

}
.red{
    margin: 15px auto;
    height: 150px;
    width: 60%;
    border-color: black;
    background-color: red;
}